@CHARSET "UTF-8";
div.main{
			margin-left: auto;
			margin-right: auto;
			width: 1000px;
}
div.title{
	margin: 5px;
	width: 100%;
	text-align: center;
	font-family: serif;
	font-size: 20pt;
	border-bottom-color: blue;
	border-bottom-style: solid;
	border-bottom-width: 2
}

div.body{
	width: 100%;
	background-color: rgb(240, 247, 249);   
}
table.albums{
	background-color: yellow;
	text-align: left;
}
td.album{
	width: auto;
}