@CHARSET "UTF-8";
<!-- General attributes -->
<!----------------------------->
*{
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 20px;
	font-style: normal;
	color: graytext;
}
.text{
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 20px;
	font-style: normal;
	color: graytext;
}
.title{
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 23px;
	color:	#EC8E0C;
	font-weight: normal;
	font-style: normal;
}
.topLeft{
	
	text-align: left;
	vertical-align: top;
}

.full{
	width: 100%
}

.small{
	font-size: 10px;
}

table.formTable{
	margin: 10px;
}
.revisionTypeText{
	font-size: 60%;
	font-style: italic;
	font-weight: normal;
}

div.title{
	margin: 5px;
	width: 100%;
	text-align: center;
	color: graytext;
	font-size: 30px;
	border-bottom-color: #1C94C4;
	border-bottom-style: solid;
	border-bottom-width: 2;
}

a{
	text-decoration: none;
	color: #1C94C4;	
}
a:hover{
	text-decoration: underline;
	color: #EC8E0C;
}

<!-- General page attributes -->
<!----------------------------->
	
table.mainBodyTable{
	width: 100%;
}
div.main{
			margin-left: auto;
			margin-right: auto;
			width: 1000px;
}

div.body{
	width: 100%;
}
div.sideMenu{
	background-color: rgb(240, 247, 249);
	text-align: left;
	width: 230px;
	vertical-align: top;
}
td.listCell{
	width: 100%;
}

button.iconButton{
	font-size: 5pt;
}
td.viewButtonCell{
	width:	200px;
}
