<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>ImageUpload</servlet-name>
		<servlet-class>ois.controller.ImageUploadServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ImageGet</servlet-name>
		<servlet-class>ois.controller.ImageGet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>ois.controller.ControllerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>/ois/main</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImageUpload</servlet-name>
		<url-pattern>/ois/imageupload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>	
		<servlet-name>ImageGet</servlet-name>
		<url-pattern>/ois/images/*</url-pattern>
	</servlet-mapping>
	
  <security-constraint>
  	<web-resource-collection>
    	<url-pattern>/ois/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    	<role-name>admin</role-name>
    </auth-constraint>
	</security-constraint>

	<welcome-file-list>
		<welcome-file>ois/index.html</welcome-file>
	</welcome-file-list>
	
	<error-page>
  		<error-code>404</error-code>
	 	<location>/ois/system/error404.html</location>
	</error-page>

	
</web-app>
